GATEWAY_PORT=4000
AUTHORS_SERVICE_PORT=4001
AUTHORS_SERVICE_URL=http://localhost:4001
POSTS_SERVICE_PORT=4002
POSTS_SERVICE_URL=http://localhost:4002

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CHANNEL=
